.principal {
    display: flex;
    margin: auto;
    max-width: 1046px;
    padding: 40px 0;
    align-items: center;
    align-items: stretch;
}



.principal-forms {
    display: flex; /* Faz com que o elemento cresça para ocupar o espaço disponível */
    flex-direction: column;
    padding: 20px 40px;
    background-color: #FAF4F0;
    border-top-right-radius: 16px; /* Raio da borda superior direita */
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px; /* Raio da borda superior direita */
    border-bottom-left-radius: 16px;
    width: 100%; /* Ocupa 100% da largura disponível */
    
}


.crumb {
    display: flex;
    margin: auto;
    max-width: 1440px;
    padding: 10px 0;
    align-items: center;
}

.crumb a {
    text-decoration: none;
    margin-right: 4px;
    color: #333333;
    font-size: 14px;
    
    
}

.event {
    font-weight: 500;
}

.pagina-atual {
    font-weight: 700;
}


.principal-titulo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.principal-titulo h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    color: #333333;
    margin: 0;
    margin-top: 40px;
}

.principal-titulo p {
    font-size: 20px;
    color: #333333;
}

.principal-form-campos label {
    display: block;
    font-size: 16px;
    color: #333333;
    margin-bottom: 8px; /* Adapte conforme necessário para o espaçamento desejado */
}

.principal-form-campos input {
    display: block;
    width: 100%; /* Ocupa 100% da largura disponível */
    padding: 8px;
    
    margin-bottom: 16px; /* Adapte conforme necessário para o espaçamento desejado */
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.principal-form-campos button {
    margin: 0 auto; 
    /* margin-top: 20px; */
    /* display: block; */
    /* width: 100%; Ocupa 100% da largura disponível */
    padding: 12px 40px;
    background-color: #333333;
    color: white;
    font-size: 18px;
    border-radius: 40px;
    border: none;
    align-items: center;
}

.botao-cadastro-eventos{
    text-align: center;
}

.direct-login {
    display: flex;
    align-items: center;
    color: #333333;
    justify-content: center;
}

.login {
    margin-left: 8px;
    text-decoration: none;
    font-weight: 600;
    color: #333333;
}


.direct-eventos {
    display: flex;
    align-items: center;
    color: #333333;
    justify-content: center;
}

.eventos {
    margin-left: 8px;
    text-decoration: none;
    font-weight: 600;
    color: #333333;
}

#id_foto {
    border: none;
    box-shadow: none;
}
