* {
    font-family: 'Raleway', sans-serif;
    caret-color: transparent;
}

input, textarea, select {
    caret-color: auto; /* Ou a cor desejada para inputs, se aplicável */
}



.content,
.buttons {
    display: flex;
}

.content {
    justify-content: space-between;
    margin: auto;
    max-width: 1440px;
    max-height: 45px;
    padding: 40px 0;
    align-items: center;
}

.content p {
    margin-right: 30px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.logo {
    width: 200px;
    height: auto;
}

.buttons {
    align-items: center;
}

.cadastro {
    margin-right: 56px;
    color: #333333;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.entrar {
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 30px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.cadastro-eventos {
    background-color: #BF8949;
    color: white;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 30px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-right: 30px;
}

.sair {
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 30px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.message {
    border-radius: 10px;
    box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, 0.75);
    color: white;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 80%;
}

.message.success {
    background-color: #4A8D86;
}

.message.error {
    background-color: #A64443;
}