.principal-evento {
    margin: auto;
    max-width: 1440px;
    max-height: 45px;
    padding: 40px 0;

    display: flex;
    flex-direction: column;
}

.principal-evento h3 {
    margin: 0;
    font-size: 32px;
    color: #333333;
}

.descricao {
    margin-top: 16px;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 18px;
}

.crumb {
    display: flex;
    margin: auto;
    max-width: 1440px;
    padding: 10px 0;
    align-items: center;
}

.crumb a {
    text-decoration: none;
    margin-right: 4px;
    color: #333333;
    font-size: 14px;
}

.event {
    font-weight: 500;
}

.pagina-atual {
    font-weight: 700;
}

.evento-data {
    display: flex;
    align-items: center;
    font-size: 18px;

}

.evento-data img {
    margin-right: 8px;
    align-items: center;
    text-align: center;
}

.content-itens {
    margin: auto;
    max-width: 1440px;
    max-height: 45px;
    padding: 40px 0;

    display: flex;
    flex-direction: column;
    margin-top: 88px;
}

/* ********************** */

.content-itens h3 {
    margin: 0;
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

.principal-itens {
    display: flex;
    /* margin: auto; */
    /* padding: 40px 0; */
    /* align-items: center; */
    /* justify-content: space-between; */
    flex-wrap: wrap;
    justify-content: flex-start;
}

.item {
    background-color: #FAF4F0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 168px;
    padding: 18px;
    border-top-right-radius: 16px;
    /* Raio da borda superior direita */
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    /* Raio da borda superior direita */
    border-bottom-left-radius: 16px;
    margin-bottom: 20px;
    width: calc(16.666% - (20px * 3));
    /* width: calc(16.666% - 20px); */
    /* box-sizing: border-box; */
    margin-right: 20px;
}

.item-desc {
    margin: 0;
}

.item img {
    margin-bottom: 12px;
    border-top-right-radius: 16px;
    /* Raio da borda superior direita */
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    /* Raio da borda superior direita */
    border-bottom-left-radius: 16px;

    width: 160px;
    height: 160px;
    object-fit: cover;
    /* Isso fará com que a imagem seja cortada para caber no tamanho definido */
    object-position: center;
    /* Isso centraliza a imagem dentro do contêiner */
    justify-content: center;

    display: block;
    margin-left: auto;
    margin-right: auto;


    /* max-width: calc(25% - 20px); Ajusta a largura máxima para caber 6 itens por linha */
}

.preco {
    text-align: left;
    /* Adiciona esta linha para alinhar o texto à esquerda */
    margin: 12px 0;
    /* margin: 12px 12px; */
    font-weight: 600;
    /* text-align: left; */
}

.botao-reserva {
    text-decoration: none;
    background-color: #333333;
    padding: 10px 32px;
    border-radius: 30px;
    text-align: center;
}

.botao-reserva a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.botao-reservado {
    text-decoration: none;
    background-color: #909195;
    padding: 10px 32px;
    border-radius: 30px;
    text-align: center;
}

.botao-reservado a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}