{% extends "bazar/header.html" %}
{% load static %}
{% block title %}
Cadastre um evento
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}" />
<link rel="stylesheet" href="{% static 'css/cadastro-eventos.css' %}" />
{% endblock %}
{%block content %}

<div class="crumb">
    <a href="{% url 'eventos' %}" class="event">Eventos ></a>
    <a href="" class="pagina-atual">Cadastre um evento</a>
</div>

<div class="principal">
    <div class="principal-forms">
        <div class="principal-titulo">
            <h3>Cadastre um evento</h3>
            <p>Preencha os campos abaixo</p>
        </div>
        
        <form action="" method="" class="principal-form-campos">
            {% csrf_token %}
            
            <!-- Campo Nome -->
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" required>
    
            <!-- Campo Email -->
            <label for="descricao">Descrição</label>
            <input type="descricao" id="descricao" name="descricao" required>
    
            <!-- Campo Telefone -->
            <label for="datainicio">Data do início do evento</label>
            <input type="datainicio" id="datainicio" name="datainicio" required>
    
            <!-- Campo Senha -->
            <label for="datafim">Data do fim do evento</label>
            <input type="datafim" id="datafim" name="datafim" required>
    
            <!-- upload de foto -->
            <label for="foto">Upload de imagem do evento</label>
            <input type="file" id="foto" name="foto" accept="image/*" required>
    
            <!-- Botão de Envio -->
            <div class="botao-cadastro-eventos">
                <button type="submit">Cadastrar evento</button>
            </div>
            
        </form>


        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p class="message {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}