{% extends "bazar/header.html" %}
{% load static %}
{% block title %}
Cadastre-se
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}" />
<link rel="stylesheet" href="{% static 'css/cadastro.css' %}" />
{% endblock %}
{%block content %}

<div class="principal">
    <div class="principal-imagem">
        <img src="{% static 'images/imagemcadastro.png' %}" alt="">
    </div>

    <div class="principal-forms">
        <div class="principal-titulo">
            <h3>Crie sua conta</h3>
            <p>Preencha seus dados abaixo</p>
        </div>
        

        <form action="{% url 'cadastro' %}" method="POST" class="principal-form-campos">
            {% csrf_token %}

            {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% endfor %}

            <!-- Botão de Envio -->
            <button type="submit">Cadastrar</button>
        </form>


        <div class="direct-login">
            <p>Já tem uma conta? </p>
            <a href="{% url 'login' %}" class="login">Clique aqui</a>
        </div>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p class="message {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}