{% extends "bazar/header.html" %}
{% load static %}
{% block title %}
Cadastre um evento
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}" />
<link rel="stylesheet" href="{% static 'css/cadastro-item.css' %}" />
{% endblock %}
{%block content %}
<div class="crumb">
    <a href="{% url 'eventos' %}" class="event">Eventos ></a>
    <a href="" class="pagina-atual">Cadastre um item</a>
</div>

<div class="principal">
    <div class="principal-forms">
        <div class="principal-titulo">
            <h3>Cadastre um item</h3>
            <p>Preencha os campos abaixo</p>
        </div>
        
        <form action="" method="" class="principal-form-campos">
            {% csrf_token %}
            
            <!-- Campo Nome -->
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" required>
    
            
            <label for="preco">Preço</label>
            <input type="preco" id="preco" name="preco" required>
    
            <!-- upload de foto -->
            <label for="foto">Upload de imagem do evento</label>
            <input type="file" id="foto" name="foto" accept="image/*" required>
    
            <!-- Botão de Envio -->
            <div class="botao-cadastro-eventos">
                <button type="submit">Cadastrar item</button>
            </div>
            
        </form>

        <div class="direct-eventos">
            <p>Finalizar e seguir para tela de </p>
            <a href="{% url 'eventos' %}" class="eventos">Eventos cadastrados</a>
        </div>


        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p class="message {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}