{% extends "bazar/header.html" %}
{% load static %}
{% block title %}
Cadastre um evento
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}" />
<link rel="stylesheet" href="{% static 'css/cadastro-item.css' %}" />
{% endblock %}
{%block content %}
<div class="crumb">
    <a href="{% url 'eventos' %}" class="event">Eventos ></a>
    <a href="" class="pagina-atual">Cadastre um item</a>
</div>

<div class="principal">
    <div class="principal-forms">
        <div class="principal-titulo">
            <h3>Cadastre um item</h3>
            <p>Preencha os campos abaixo</p>
        </div>

        <form action="{% url 'cadastroitem' evento_id=evento_id %}" method="POST" class="principal-form-campos"
            enctype="multipart/form-data">
            {% csrf_token %}


            {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% endfor %}

            <!-- Botão de Envio -->
            <div class="botao-cadastro-eventos">
                <button type="submit">Cadastrar item</button>
            </div>

        </form>

        <div class="direct-eventos">
            <p>Finalizar e seguir para tela de </p>
            <a href="{% url 'eventos' %}" class="eventos">Eventos cadastrados</a>
        </div>


        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p class="message {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}