{% extends "bazar/header.html" %}
{% load static %}
{% block title %}
Cadastre-se
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}" />
<link rel="stylesheet" href="{% static 'css/eventos.css' %}" />
{% endblock %}
{%block content %}

<div class="principal">
    <h3>Confira nossos eventos</h3>
    <div class="search-bar">
        <input type="text" class="search-input" placeholder="Pesquise por um evento...">
        <a href="#"><img src="{% static 'images/busca.svg' %}" alt="Buscar" class="search-icon"></a>
    </div>
</div>

<div class="principal-evento">
    {% for evento in eventos %}
    <div class="evento">
        {% if evento.poster %}
        <img src="{{ evento.poster.url }}" alt="" class="banner">
        {% else %}
        <img src="{% static 'images/default2.png' %}" alt="" class="banner">
        {% endif %}

        <div class="evento-conteudo">
            <div class="evento-data">
                <img src="{% static 'images/calendario.svg' %}" alt="">
                <p>{{evento.data_evento}}</p>
            </div>
            <h4>{{ evento.nome }}</h4>
            <p>{{ evento.descricao_resumida }}</p>
            <a href="{% url 'itensevento' evento_id=evento.id %}">Saiba mais</a>
            <img src="{% static 'images/linha.svg' %}" alt="">
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}