{% extends "bazar/header.html" %}
{% load static %}
{% block title %}
Cadastre um evento
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}" />
<link rel="stylesheet" href="{% static 'css/itens-evento.css' %}" />
{% endblock %}
{%block content %}

<div class="crumb">
    <a href="{% url 'eventos' %}" class="event">Eventos ></a>
    <a href="" class="pagina-atual">Itens</a>
</div>

<div class="principal-evento">
    <h3>{{ evento.nome }}</h3>
    <p class="descricao">{{ evento.descricao }}</p>
    <div class="evento-data">
        <img src="{% static 'images/calendario.svg' %}" alt="">
        <p>{{ evento.data_evento }}</p>
    </div>
</div>

<div class="content-itens"> <!--principal -->
    <h3>Reserve um item</h3>
    <form action="" method="get">
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Pesquise por um item específico..."
                name="busca_por_nome">
            <button type="submit"><img src="{% static 'images/busca.svg' %}" alt="Buscar" class="search-icon"></button>
        </div>
    </form>

    <div class="principal-itens">
        {% for item in itens %}
        <div class="item">
            {% if item.foto %}
            <img src="{{ item.foto.url }}" alt="">
            {% else %}
            <img src="{% static 'images/default2.png' %}" alt="">
            {% endif %}
            <p class="item-desc">{{ item.nome }}</p>
            <p class="preco">R$ {{ item.preco }}</p>
            {% if item.reservado %}
            <div class="botao-reservado">
                <a href="#">Item Reservado</a>
            </div>
            {% else %}
            <div class="botao-reserva">
                <a href="{% url 'reservaritem' evento_id=evento.id item_id=item.id %}">Reserve</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}